:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /* paragraphs */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /* background, headings, buttons */
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  padding: 20px;
  background-color: var(--very-light-gray);

  display: grid;
  place-content: center;
  min-height: 100vh;
}

main {
  max-width: 930px;
  margin-bottom: 2rem;
  border-radius: 10px;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > div {
    padding: 50px;
    > h2 {
      margin: 2rem 0;
      color: var(--very-light-gray);
      text-transform: uppercase;
      font-family: "Big Shoulders Display", cursive;
      font-size: 2.4rem;
      letter-spacing: 1px;
    }
    > p {
      color: var(--transparent-white);
      line-height: 1.6rem;
    }
    > button {
      margin-top: 5rem;
      padding: 1rem 2rem;
      border-radius: 50px;
      border: unset;
      font-family: "Lexend Deca", sans-serif;
      font-size: 15px;
      transition: background-color 100ms, color 100ms;
      &:hover {
        cursor: pointer;
        outline: 2px solid var(--very-light-gray);
        color: var(--very-light-gray) !important;
        background-color: transparent;
      }
    }
    &:nth-child(1) {
      background-color: var(--bright-orange);
      > button {
        color: var(--bright-orange);
      }
    }
    &:nth-child(2) {
      background-color: var(--dark-cyan);
      > button {
        color: var(--dark-cyan);
      }
    }
    &:nth-child(3) {
      background-color: var(--very-dark-cyan);
      > button {
        color: var(--very-dark-cyan);
      }
    }
  }
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: unset;
    grid-template-rows: repeat(3, 1fr);
    max-width: 325px;
    > div > button {
      margin-top: 2rem;
    }
  }
}

/* DEFAULT STYLES */
footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}
